@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arenq";
  src: url("../fonts/arenq.otf");
}

@font-face {
  font-family: "Mova";
  src: url("../fonts/mova.ttf");
}

@font-face {
  font-family: "Beckman";
  src: url("../fonts/beckman.otf");
}

@font-face {
  font-family: "Overcame Bold";
  src: url("../fonts/overcame-bold.woff");
}

@font-face {
  font-family: "Overcame Outline";
  src: url("../fonts/overcame-outline.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.nav-links::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #292929;
  margin: auto;
  transition: 0.5s;
}

.nav-links:hover::after {
  width: 70%;
}

#about {
  margin-left: -24px;
  font-size: 100px;
}

#projects {
  margin-left: -2px;
  font-size: 100px;
}

#contact {
  margin-left: -20px;
  font-size: 95px;
  letter-spacing: -2px;
}
